body {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	height: 600px;
	align-content: space-around;
}
article {
	width: 400px;
	height: 300px;
}
footer {
	margin: 0 auto;
	height: 100px;
}
footer img {
	height: 100%;
	width: auto;
	margin: 20px;
}
article img {
	height: 100%;
	width: auto;
}
@media all and (max-width: 600px){
	article {
		width: 160px;
		height: 120px;
	}
	article img{
		width: 100%;
		height: auto;
	}
	footer {
		margin: 0 auto;
		height: 30px;
	}
	footer img{
		width: auto;
		height: 100%;
		margin: 5px;
	}
}