body {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	align-content: space-around;
	font-family: 'Roboto', sans-serif;
	background-color: #cccccc;
}
article {
	width: 300px;
	height: 300px;
}
footer {
	margin-top: 209px;
	  background-color: #595959;
	  width: 100vw;
	  text-align: center;
}

footer img {
	  width: 90px;
	  margin: 20px;
}
article img {
	height: 100%;
	width: auto;
}
@media all and (max-width: 600px){
	aside {
		font-size: 70%;
		margin-top: 100px;
	}
	article {
		width: 160px;
		height: 120px;
	}
	article img{
		width: 100%;
		height: auto;
	}
	footer {
		margin-top: 170px;
		height: 40px;
	}
	footer img{
		width: auto;
		height: 85%;
		margin: 5px;
	}
}